{
    "parser": "babel-eslint",
    "plugins": [],
    "extends": ["airbnb"],
    "rules": {
        "generator-star-spacing": 0,
        "no-unused-expressions": 0,
        "import/extensions": 0,
        "comma-dangle": ["error", "never"],
        "newline-before-return": "error",
        "default-case": 0,
        "global-require": 0,
        "new-cap": [2, {"capIsNew": false, "newIsCap": true}],
        "no-underscore-dangle": 0,
        "quotes": [2, "double", {"avoidEscape": true, "allowTemplateLiterals": true}],
        "no-unused-vars": [2, {
                "vars": "all",
                "args": "all",
                "argsIgnorePattern": "^_"
            }
        ],
        "indent": ["error", 4, {"SwitchCase": 1}],
        "arrow-body-style": 0,
        "no-use-before-define": ["error", { "functions": false, "classes": true }],
        "max-len": ["error", 200, 4],
        "consistent-return": 0,
        "no-shadow": 0,
        "import/no-unresolved": [2, { ignore: ['^AQ-', '^react-native-linear-gradient$'] }],
        "import/no-extraneous-dependencies": 0,
        "jsx-a11y/anchor-has-content": ['error', ['']],
        "react/require-extension": 0,
        "react/jsx-filename-extension": 0,
        "react/jsx-indent": [2, 4],
        "react/jsx-curly-spacing": [2, "always"],
        "react/jsx-first-prop-new-line": 0,
        "react/jsx-indent-props": [2, 4],
        "react/prefer-stateless-function": 0,
        "react/jsx-closing-bracket-location": [2, {
            "nonEmpty": "after-props",
            "selfClosing": "after-props"
        }]
    },
    "globals": {
        "after": false,
        "afterAll": false,
        "afterEach": false,
        "before": false,
        "beforeAll": false,
        "beforeEach": false,
        "describe": false,
        "it": false,
        "fetch": false,
        "require": false,
        "jest": false,
        "expect": false,
        "spyOn": false,
        "requestAnimationFrame": false,
        "jasmine": false,
        "window": false
    }
}
